/* Reset some default styles */
body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 10px;
  background-color: #fff;
}

li {
  font-size: 18px;
  margin: 5px 0;
}

main {
  padding: 20px;
}

button {
  background-color: #0077b6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: #023e8a;
  }
}

p {
  margin: 0;
  color: red;
  
}